<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp
    </title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css'
        integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ=='
        crossorigin='anonymous' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css'
        integrity='sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=='
        crossorigin='anonymous' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.js'
        integrity='sha512-GQk/YTeRwD0dTnM//plfcWnGTGqGt0FB33mRTcbcuVneAi5ZrdOA28EpJltqF9lwr/0jRUEcE6yYV7duc1MEVw=='
        crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js'
        integrity='sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg=='
        crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.8/dayjs.min.js'
        integrity='sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw=='
        crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.8/plugin/customParseFormat.min.js'
        integrity='sha512-/rAikt6xZJcTqu7olN/2DFvqXDEUC31/yyFAYrSGi087R+j54QTWWRJxHtbN5NjppOxT3d1gk4ZwkPWX88W35w=='
        crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.8/plugin/relativeTime.min.js'
        integrity='sha512-2Sb0BW+c8+/rhj243eqCrgws9FsZkMjH8ErZvcT4HR1HzLpHMfqsSgnJ+gMvH+/GJmu6wdNOu54n93XwbQDCKQ=='
        crossorigin='anonymous'></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="bg-success green-div"></div>
    <div id="app">
        <div class="container">
            <div class="custom-container">
                <div class="row h-100 g-0 flex-grow d-flex h-100">
                    <div class="col-md-4  border-end d-flex flex-column  overflow-auto h-100">
                        <div class="flex-shrink">
                            <nav class="navbar navbar-expand-lg bg-light p-2">
                                <div class="container-fluid">
                                    <a class="navbar-brand logo d-flex align-items-center" href="#">
                                        <div class="rounded-circle overflow-hidden"><img src="../assets/avatar_io.jpg"
                                                alt=""></div>
                                        <span class="ms-2 text-muted">Sofia</span>
                                    </a>

                                    <div>
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="#"><i
                                                        class="fa-solid fa-circle-notch text-muted fs-4"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"><i
                                                        class="fa-solid fa-message text-muted fs-4"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"><i
                                                        class="fa-solid fa-ellipsis-vertical text-muted fs-4"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="bg-info d-flex py-3 px-4">
                                <a href="#">
                                    <div class="rounded-circle p-3 bg-white ratio1to1">
                                        <i class="fa-solid fa-bell-slash text-info fs-3"></i>
                                    </div>
                                </a>
                                <div class="ms-3 d-flex flex-column justify-content-center">
                                    <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                                    <a href="#" class="text-muted fs-7">Attiva notifiche desktop</a>
                                </div>
                                <div>

                                </div>

                            </div>
                            <div class="p-1">
                                <div class="container-fluid">
                                    <form class="d-flex" role="search">
                                        <input class="form-control me-2" v-model="search" type="search"
                                            placeholder="Cerca o inizia una nuova chat" aria-label="Search">
                                        <button class="btn btn-outline-success"
                                            @click="searchContacts(search)">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="contati">
                            <ul class="list-group">
                                <li class="list-group-item d-flex" @click=" selectContact(contatto)"
                                    :class="{'active-user': currentContact.avatar === contatto.avatar}"
                                    v-for="(contatto, i) in searchContacts(search)">
                                    <div class=" rounded-circle overflow-hidden avatar">
                                        <img class="avatar" :src="`../assets/avatar_${i + 1}.jpg`" alt="">
                                    </div>
                                    <div class="flex-grow">
                                        <div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <p class="m-0 fs-5">{{ contatto.name }}</p>
                                                <span class="text-muted">{{getLastMessageDate(contatto)}}</span>
                                            </div>

                                            <span class="text-muted">Ultimo messaggio inviato</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 h-100  d-flex flex-column flex-grow overflow-auto">
                        <nav class="navbar navbar-expand-lg bg-light w-100 p-2 flex-shrink">
                            <div class="container-fluid">
                                <a class="navbar-brand logo d-flex align-items-center" href="#">
                                    <div class="rounded-circle overflow-hidden"><img
                                            :src="`../assets/avatar${currentContact.avatar}.jpg`" alt=""></div>
                                    <div class="d-flex flex-column">
                                        <span class="ms-2 text-dark">{{currentContact.name}}</span>
                                        <span class="ms-2 text-muted fs-6">Ultimo accesso oggi alle
                                            {{getLastMessageDate(currentContact)}}</span>
                                    </div>

                                </a>

                                <div>
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#"><i
                                                    class="fa-solid fa-magnifying-glass text-muted fs-4"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i
                                                    class="fa-solid fa-paperclip text-muted fs-4"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i
                                                    class="fa-solid fa-ellipsis-vertical text-muted fs-4"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <div class="message-container flex-grow overflow-auto">

                            <div class="message rounded"
                                :class="[msg.status == 'sent' ? 'sent-msg' + ' ' + 'bg-secondary' : 'bg-white']"
                                v-for=" (msg, i) in currentContact.messages">
                                <div class="dropdown">
                                    <button class="btn btn-trasparent dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false"></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#" @click="deleteMessage(i)">Cancella</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Inoltra</a></li>
                                    </ul>
                                </div>

                                <p>
                                    {{ msg.message }}</p>
                                <span class=" text-muted fs-7 align-self-end">{{formatDate(msg.date)}}</span>
                            </div>


                        </div>
                        <div class="bg-light d-flex justify-content-between p-1 align-items-center flex-shrink">
                            <div>
                                <a href="#"><i class="fa-solid fa-face-smile text-muted fs-4 px-4"></i></a>
                            </div>
                            <div class="form-group w-100">
                                <input type="text" class="form-control" placeholder="Scrivi un messaggio"
                                    v-model="message" @keyup.enter="addMessage(message)">
                            </div>
                            <div>
                                <a href="#"><i class="fa-solid fa-microphone text-muted fs-4 px-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <script src="main.js"></script>
</body>

</html>